
.icon-ens:before { content: '\e800'; } /* '' */
.icon-es:before { content: '\e801'; } /* '' */
.icon-ns:before { content: '\e802'; } /* '' */
.icon-we:before { content: '\e803'; } /* '' */
.icon-wen:before { content: '\e804'; } /* '' */
.icon-wens:before { content: '\e805'; } /* '' */
.icon-wes:before { content: '\e806'; } /* '' */
.icon-wn:before { content: '\e807'; } /* '' */
.icon-wns:before { content: '\e808'; } /* '' */
.icon-ws:before { content: '\e809'; } /* '' */
.icon-en:before { content: '\e80a'; } /* '' */